.app{
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  margin:50px;
  gap:20px;

}

.product {
  display : grid;
   display : flex;
   flex-wrap : wrap;
  gap : 20px;
  justify-content:center;

}

.card{
  
  border : 1px solid red;
  padding : 20px;
  border-radius: 15px;
  width : 200px;
  height:250px
}

.pagination{
  display : flex;
  justify-content:center;
  margin-top:20px;
  gap:10px;
  
}


.pagination-selected{
  background-color: rgb(167, 86, 86);
  color:black;
  width:20px;
  height:20px;
  border-radius:50%;
  dispay :flex;
  justify-content:center;
  align-items:center;
}


.toggle-btn{
  width:20px;
  height:20px;
  border-radius:50%;
  border: 2px solid rgb(226, 21, 21); margin-left:20px;
  background-color:yellow;
  
  cursor:pointer;
}